<div> <img src = "{{userurl}}" width = "200" height = "200" align = "top"/> 
<textarea readonly style="height:200px; width: 200px; border: 10px; resize: none; overflow: auto;"> Followers: &#13;&#10;{{followers}}; </textarea></div>
<div style = "font-size: 20px; margin-left: 20px; font-weight: bold"> {{name}} </div>
<div style = "font-size: 16px; margin-left: 20px"> {{email}} </div>
<div style = "font-size: 16px; margin-left: 20px"> {{bio}} </div>
