<h1>Latest Reviews</h1>
<div>
    {{#each results.rows}}
        <div>Review for: <a href='title/{{ showId }}'>{{ title }}</a></div>
        <div>Review by: <a href='profile/{{ userId }}'>{{ username }}</a></div>
        <div>Rating: {{ rating }}</div>
        <div>{{ review }}</div>
        <div id="timestamp">{{ timestamp }}</div>
        <br/>
    {{/each}}
</div>
