<h1>{{title}}</h1>
<div>
      <div>Genre: {{genre}}</div>
      <div>Studio: {{studio}}</div>
      <div>Synopsis: {{synopsis}}</div>
      <div>Episodes: {{episodes}}</div>
      <div>Year: {{year}}</div>
      <div>Runtime: {{runtime}}</div>
      <br/>
      <form action="/create_review" method="get">
          <input type="submit" value="Create Review">
      </form>
</div>
